.product-list {
  margin-top: 20px;
}

.product-card {
  display: flex;
}

.card {
  height: 100%; /* Ensures all product cards have the same height */
}

.product-image {
  height: 200px;
  object-fit: cover; /* Ensures the image scales properly within the card */
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-price {
  font-weight: bold;
  color: #28a745;
}

.mt-auto {
  margin-top: auto; /* Ensures that the price and button are aligned at the bottom */
}
