<div class="tourist-spot-list">
  <div class="tourist-spot-card" *ngFor="let spot of touristSpots">
    <img [src]="spot.imageUrl" [alt]="spot.name" class="spot-image" />
    <div class="spot-info">
      <h2 class="spot-name">{{ spot.name }}</h2>
      <p class="tap-to-see-more" (click)="navigateToViewTouristSpot(spot)">
        see more
      </p>
      <p class="spot-description">
        {{ spot.description }}
      </p>
      <button class="book-now" (click)="createBooking(spot)">Book Now</button>
    </div>
  </div>
</div>
